<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment>Configuration file for bashoid, https://github.com/Audio/bashoid</comment>
  <entry key="server">irc.rizon.net</entry>
  <entry key="channel">#valhalla</entry>
  <entry key="nickname">bashoid</entry>
  <entry key="helpCommand">!help</entry>
</properties>
